@{
    ViewData["Title"] = "Destinations";
}

<h1>All Destinations</h1>

<h3>Actions: </h3>
<p>@Html.ActionLink("Add a new Destination", "Create")</p>

<h4>Destinations: </h3>

<ol>
    @foreach(Destination dest in Model)
    {
        <li><strong>@dest.DestinationName</strong> created by @dest.UserName |  <a href="/Destinations/Details/@(dest.DestinationId)">View Details</a></li>
    }

</ol>